@import "base/color.css";

.fs-big {
    -fx-font-size: 16px;
}

.fs-large {
    -fx-font-size: 20px;
}

.bold {
    -fx-font-weight: bold;
}

.bordered {
    -fx-border-width: 1px;
    -fx-border-color: gray;
}

.dialog {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border: 1;
    -fx-border-color: #e0e0e0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 0);
}

.link-label {
    -fx-text-fill: #3498DB;
    -fx-cursor: hand;
}
.link-label:hover {
    -fx-underline: true;
}
.link-label:pressed {
    -fx-translate-y: 1;
}