@import "../common.css";

.general-setting-panel {
    -fx-padding: 50px;
}

.setting-title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2ecc71;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0.0, 0, 0);
}