@import "../common.css";

.vlc-player {
    -fx-background-color: black;
}

.vlc-player-title {
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.vlc-player-anchor-pane {
    -fx-pref-height: 46px;
    -fx-min-height: 46px;
    -fx-max-height: 46px;
    -fx-background-color: rgba(0,0,0,0.5);
}

.vlc-player-control-label {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.vlc-player-progress-label {
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.vlc-player-pop-over {
    -fx-padding: 10px;
}

.video-details-prop {
    -fx-font-size: 16px;
}

.video-details-prop-name {
    -fx-fill: #4169E1;
}

.video-details-ep-btn-selected {
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
}