name: Build

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  JAVA_VERSION: 17
  GRADLE_VERSION: 'wrapper'

jobs:
  load_version:
    name: Load Version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.VERSION }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Load Version
        id: get_version
        run: |
          VERSION=$(awk -F= '/^app-version=/ {print $2; exit}' src/main/resources/x.properties)
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          echo "VERSION: $VERSION"

  build-linux-packages:
    needs: load_version
    name: Build Linux Packages - ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-24.04
            package-types: '["deb", "rpm"]'
          - arch: arm64
            runner: ubuntu-24.04-arm
            package-types: '["deb", "rpm"]'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          architecture: ${{ matrix.arch }}
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: ${{ env.GRADLE_VERSION }}

      - name: Prepare to build
        run: |
          mkdir -p distribution
          chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x check -x test

      - name: Build packages
        run: |
          ARCH=${{ matrix.arch }}
          VERSION=${{ needs.load_version.outputs.VERSION }}
          if [ "$ARCH" = "amd64" ]; then
            OLD_DEB="freebox_${VERSION}_amd64.deb"
            OLD_RPM="freebox-${VERSION}.x86_64.rpm"
          else
            OLD_DEB="freebox_${VERSION}_arm64.deb"
            OLD_RPM="freebox-${VERSION}.aarch64.rpm"
          fi
          NEW_DEB="FreeBox_${VERSION}_${ARCH}.deb"
          NEW_RPM="FreeBox_${VERSION}_${ARCH}.rpm"
          
          ./gradlew jpackage "-Pjpackage.installerType=deb" -x check -x test
          cd build/jpackage/
          if [ -f "$OLD_DEB" ]; then
            mv "$OLD_DEB" "../../distribution/$NEW_DEB"
          else
            echo "No DEB files found"
          fi
          cd ../../
          
          ./gradlew jpackage "-Pjpackage.installerType=rpm" -x check -x test
          cd build/jpackage/
          if [ -f "$OLD_RPM" ]; then
            mv "$OLD_RPM" "../../distribution/$NEW_RPM"
          else
            echo "No RPM files found"
          fi
          cd ../../
          
          tar -czvf "distribution/FreeBox_${VERSION}_${ARCH}.tar.gz" "build/jpackage/FreeBox/"
          
          echo "generated packages:"
          ls -la distribution/

      - name: Upload Linux packages
        uses: actions/upload-artifact@v4
        with:
          name: FreeBox-linux-${{ matrix.arch }}-${{ github.sha }}
          path: |
            distribution/*.deb
            distribution/*.rpm
            distribution/*.tar.gz
          retention-days: 30

  build-windows-package:
    needs: load_version
    name: Build Windows Package
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [amd64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          architecture: ${{ matrix.arch }}
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: ${{ env.GRADLE_VERSION }}

      - name: Build packages
        run: |
          $VERSION = ${{ needs.load_version.outputs.VERSION }}
          
          New-Item -ItemType Directory -Path "distribution" -Force
          
          .\gradlew jpackage "-Pjpackage.installerType=msi" -x check -x test
          Move-Item "build\jpackage\FreeBox-${VERSION}.msi" "distribution\FreeBox_${VERSION}.msi"
          
          7z a -tzip "distribution/FreeBox_${VERSION}_win.zip" "build/jpackage/FreeBox/"
          
          echo "generated packages:"
          ls -la distribution/

      - name: Upload Windows package
        uses: actions/upload-artifact@v4
        with:
          name: FreeBox-windows-${{ matrix.arch }}-${{ github.sha }}
          path: distribution/*.msi
          retention-days: 30

  build-macos-packages:
    needs: load_version
    name: Build MacOS Packages - ${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: macos-15-intel
          - arch: arm64
            runner: macos-15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          architecture: ${{ matrix.arch }}
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: ${{ env.GRADLE_VERSION }}

      - name: Build packages
        run: |
          VERSION = ${{ needs.load_version.outputs.VERSION }}
          ARCH = ${{ matrix.arch }}
          OLD_DMG = "FreeBox-${VERSION}.dmg"
          NEW_DMG = "FreeBox_${VERSION}_${ARCH}.dmg"
          
          mkdir -p distribution
          
          chmod +x ./gradlew
          
          ./gradlew jpackage "-Pjpackage.installerType=dmg" -x check -x test
          cd build/jpackage/
          if [ -f "$OLD_DMG" ]; then
            mv "$OLD_DMG" "../../distribution/$NEW_DMG"
          else
            echo "No DMG files found"
          fi
          cd ../../
          
          echo "generated packages:"
          ls -la distribution/

      - name: Upload MacOS package
        uses: actions/upload-artifact@v4
        with:
          name: FreeBox-macos-${{ matrix.arch }}-${{ github.sha }}
          path: distribution/*.dmg
          retention-days: 30